body
{
    background-color: azure;
    color:#000;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2em;
    margin:0;
    font-size:16px;
}
.container
{
    width:100%;
    overflow: hidden; 
    margin:auto;
    
}
.main-header
{
    background-color:#555;
    color:#fff;
    margin:auto;
}
.main-header h1
{
    text-align:center;
}
.navbar
{
    text-align:center;
}
.navbar li
{
    display:inline;
    padding:10px;
}
.navbar ul{
    background-color: aqua;
}
.navbar a
{
    text-decoration:none;
    color:#000;
    font-size:20px;
}
.show-box
{
    border:solid 2px #000;
    width:600px;
    margin:auto;
    background-image: url("../images/bgimage.jpeg");
    min-height:60px;
}
a:hover
{
    color: red;
}
.fixed-button
{
    background-color: black;
    color:#fff;
    margin-right:0px;
    width:100px;
    height:30px; 
    position:fixed; 
}

.main
{
    
    margin-top: 20px;
    float:left;
    width:70%;
    box-sizing: border-box;
}
.aside{
    background-color: grey;
    margin-top: 20px;
    float:right;
    width:30%;
    box-sizing: border-box;
    padding:10px;
}   
.main-footer
{
    background-color:#555;
    color:#fff;
    text-align: center;
    width:100%;
    margin-top:10px;
}
.clr
{
    clear:both;
}
.main-form
{
    padding:20px;
}
.main-form form-group
{
    padding-bottom:10px;
}
.main-form h1
{
    margin:auto;
}
.main-form label
{
    display:block;
}
.main-form input[type="text"],.main-form input[type="email"],.main-form textarea
{
    width:50%;
}
.form-group input[type="submit"]
{
    background-color: black;
    color:#fff;
    margin:auto; 
    width:100px;
    height:30px;   
}
.my-list li:nth-child(even)
{
    background-color:lavender;
}
.my-list li{
    width:60px;
    list-style: none;
}
.block
{
    width:33%;
    border:solid 1px #000;
    float:left;
    padding:10px;
    box-sizing: border-box;
}
@media(max-width:700px)
{
    .main
    {
        float:none;
        width:100%;
    }
    .aside{
        float:none;
        width:100%;
    }
}
